---
layout: default
---

<header>
  {% include nav.html %}
  <div class="header-container">
    <div>
      <h2>LESS WORK,</h2>
      <h2>MORE PIKMIN</h2>
      <p>Pikmins are the best and they are hard workers!</p>
    </div>
    <img src="assets/olimar-left.png" alt="olimar pic">
  </div>
</header>
<section class="game-titles">
  {% for pikmin in site.data.pikmin-title %}
    <img src="{{pikmin.image}}" alt="{{pikmin.title}}">
  {% endfor %}
</section>
<section class="game-about">
  <div>
    <img src="assets/favicon.ico" alt="small flower">
    <h2>Pikmins help Olimar explore the fars lands that need to be discovered</h2>
    <p>
      The player controls Captain Olimar, an alien who ends up on a mysterious planet,
      where he becomes friend that are called pikmin, and utilizes their abilities to collect items.
    </p>
  </div>
</section>
<section class="pikmin-games">
  <h2>Best Pikmin Games</h2>
  <div class="pikmin-box-art">
    {% for pikmin-cover in site.data.pikmin-games %}
      <div>
        <img class="{{pikmin-cover.class}}" src="{{pikmin-cover.image}}" alt="{{pikmin-cover.title}}">
        <h2>{{pikmin-cover.title}}</h2>
        <p>{{pikmin-cover.info}}</p>
      </div>
    {% endfor %}
  </div>
</section>
<section class="pikmin-display">
  <div class="pikmin-container">
    <div class="pikmin-display-intro">
      <h2>There are many type of Pikmins</h2>
      <p>Here are a few from the original game</p>
    </div>
    <div id="buttons-container"></div>
    <div class="pikmin-display-info">
      <div>
        <h2 id="title">Red Pikmin</h2>
        <p id="text">the red Pikmin is one of the first pikmin to be released and has resistance to fire</p>
        <p><a id="link" href="http://pikmin.wikia.com/wiki/Red_Pikmin">Learn More</a></p>
      </div>
      <img id="image" src="assets/redpikmin.png"\>
    </div>
  </div>
</section>
<section class="pikmin-features">
  <h1>5 Cool Pikmin</h1>
  <main class="pikmin-feature-desktop">
    <div class="pikmin-features-display">
      {% for pikmin-details in site.data.pikmin-details %}
        <div>
          <img src="assets/favicon.ico" alt="favicon flower">
          <h2>{{pikmin-details.title}}</h2>
          <p>{{pikmin-details.text}}</p>
        </div>
      {% endfor %}
    </div>
    <div class="pikmin-features-display">
      {% for pikmin-details in site.data.pikmin-details2 %}
        <div>
          <img src="assets/favicon.ico" alt="favicon flower">
          <h2>{{pikmin-details.title}}</h2>
          <p>{{pikmin-details.text}}</p>
        </div>
      {% endfor %}
    </div>
  </main>
  <main class="pikmin-feature-responsive">
      {% for pikmin-details in site.data.pikmin-details %}
        <div>
          <img src="assets/favicon.ico" alt="favicon flower">
          <h2>{{pikmin-details.title}}</h2>
          <p>{{pikmin-details.text}}</p>
        </div>
      {% endfor %}
      {% for pikmin-details in site.data.pikmin-details2 %}
        <div>
          <img src="assets/favicon.ico" alt="favicon flower">
          <h2>{{pikmin-details.title}}</h2>
          <p>{{pikmin-details.text}}</p>
        </div>
      {% endfor %}
  </main>
</section>
